<ion-view view-title="Lugares e Eventos em {{ location.la }}">
  <ion-content>
    <div>{{ eventCount }}</div>
    <ion-list>
      <ion-item 
        class="item-remove-animate item-avatar item-icon-right" 
        ng-repeat="place in places" 
        type="item-text-wrap" ng-click="openPopover($event, place.id)">
        <h2>{{ place.name }}</h2>
        <p>{{ place.more.shortDescription }}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

<script id="my-popover.html" type="text/ng-template">
    <ion-popover-view>
        <ion-header-bar>
            <h1 class="title">My Popover Title</h1>
        </ion-header-bar>
        <ion-content>
            <ul>
                <li ng-repeat="event in place_events">
                    {{ event.name }}
                </li>
            </ul>
        </ion-content>
    </ion-popover-view>
</script>
